[build]
  command = "npm run build"
  publish = "dist"
  functions = "functions"

[dev]
  command = "vite"
  functions = "functions"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/pics/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

